[Interface]
PrivateKey = {{ client_private_key_actual }}
Address = {{ client_address }}
DNS = {{ wireguard_dns }}

[Peer]
PublicKey = {{ server_public_key.stdout }}
PresharedKey = {{ client_preshared_key }}
Endpoint = {{ server_public_ip }}:{{ wireguard_port }}
AllowedIPs = 0.0.0.0/0, ::/0, {{ wireguard_network }}
PersistentKeepalive = {{ wireguard_persistent_keepalive }}